/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: lato;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: lato;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.3); 
    
}


label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #606770;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}

/* Join Page Styles */

.centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    width: 25%;
    color: white;
    background: #fff;
    overflow: hidden;
    border-right: 0.5px solid rgba(0, 0, 0, 0.3)
}

.chat__sidebar .sidebar-header {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    font-family: lato;
    height: 60px;
    overflow: hidden;
    font-size: 24px;
    padding: 10px 16px 10px 16px;
}

.chat__sidebar .sidebar-header > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.chat__sidebar .sidebar-header .sidebar-search-box {
    padding: 4px 16px 12px;
    display: block;
}
.chat__sidebar .search-box {
    border: none;
    width: 100%;
    box-sizing: border-box;
    cursor: default;
    display: inline-block;
    font-weight: normal;
    margin: 0;
    position: relative;
    vertical-align: middle;
}

.chat__sidebar .sidebar-body {
    height: 90vh;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden
}

.chat__sidebar .search-bar {
    margin: 4px 16px 12px;
    background-color: rgba(0, 0, 0, .04);
    border-radius: 50px;
    font-size: 15px;
    height: 36px;
}

.chat__sidebar input {
    box-sizing: border-box;
    font-family: lato;
    font-size: 14px;
    line-height: 30px;
    padding: 0 0px !important;
    margin-top: 3.4px;
    max-width: 430px;
    background: transparent;
    width: 80%;
    font-weight: normal;
    border: 0;
}

svg.svg-inline--fa.fa-search.fa-w-16 {
    width: 15%;
}

/* Conversations style */
.conversations .conversation-list .conversation-list-item {
    background-color: white;
    padding: 10px 0px;
    overflow-x: hidden;
    box-sizing: inherit
}

.conversation-list-item .conversation-img {
    max-width: 85px;
    margin-left: 10px;
}

.conversation-img img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.conversation-list-item .conversation-content {
    padding-right: 0px;
    color: #999999;
}

.conversation-list-item .conversation-list-item-title {
    margin-bottom: 0px;
    font-weight: inherit;
    color: black;
}

.conversation-content .conversation-list-item-message {
    font-size: 13px;
}

.contacts-title{
    align-items: center;
    background-color: transparent;
    color: rgba(0, 0, 0, .34);
    display: flex;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    padding: 0 16px;
    padding-top: 8px;
    text-transform: uppercase;
}

.contact-img {
    margin-left: 15px
}

.contact-img img {
    width: 35px;
    height: 35px;
    margin-right: 0px;
}

.contact-username {
    font-size: 15px;
    margin-left: 0px;
    color: black
}
.message-unread {
    font-weight: bold !important;
    color: black !important;
}

.message-active {
    background-color: rgba(0, 0, 0, .05) !important;
}
/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .25s; 
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}