* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
    font-size: 15px;
}

body {
    display: grid;
    place-items: center;
}

#chat-container {
    min-width: 800px;
    max-width: 1000px;
    min-width: 800px;
    height: 95vh;
    background: #FFF;
    border-radius: 10px;
}